:root{
    --blue: #3A38FF;
    --black: #101041;
    --grey: #DFE2E7;
    --purplesoft: #E5E4FF;
    --bluesoft: #F9FBFC;
    --darkgrey: #949293;
    --darkgrey2: #E7EBED;
    --purple: #6261D8;
    --green: #316762;
    --white: #FFF;
    --fwbold:700;
    --fwextrabold:800;
    --fwsemibold:600;
    --fwmedium:500;
    --fwreguler:400;
    --fwlight:300;
}

body{
    font-family: 'Poppins', sans-serif;
    background: var(--bluesoft);
}

.big-header{
    font-weight: var(--fwextrabold);
    color: var(--black);
    font-size: 48px;
    margin: 0;
}

.medium-header{
    font-weight: var(--fwbold);
    color: var(--black);
    font-size: 28px;
    margin: 0;
}

.small-header{
    font-weight: var(--fwbold);
    color: var(--black);
    font-size: 22px;
    margin: 0;
}

.primary-copy{
    font-weight: var(--fwreguler);
    font-size: 12px;
    color: var(--darkgrey);
    line-height: 28px;
    margin: 0;
}

.form-control{
    border-radius: 50px;
    border: 0;
    padding: 12px 20px 12px 20px;
    background: var(--white);
}


.features-wrapper:hover .big-feature-card:not(:hover){
    filter: blur(4px);
    transition: all 0.3s ease;
}

.features-wrapper:hover .small-feature-card:not(:hover){
    filter: blur(4px);
    transition: all 0.3s ease;
}

.features .features-wrapper .big-feature-card{
    padding: 30px;
    border-radius: 16px;
    background: var(--white);
    padding-bottom: 60px;
    cursor: pointer;
}

.features .features-wrapper .small-feature-card{
    padding: 30px;
    border-radius: 16px;
    background: var(--white);
    padding-bottom: 30px;
    cursor: pointer;
}

.features .features-wrapper .small-feature-card .icon{
    height: 100px;
}

.features .features-wrapper h3{
    padding-top: 16px;
}

.features .features-wrapper .icon{
    float: left;
    width: 60px;
    height: 200px;
    margin-right: 18px;
}

.features .features-wrapper .icon img{
    width: 60px;
    height: 60px;
}

.text-button{
    text-decoration: none;
    color: var(--blue);
}

.text-button:hover{
    text-decoration: underline;
    color: var(--black);
}

.btn-primary{
    padding: 12px 20px 12px 20px;
    background: var(--blue);
    color: var(--white);
    font-size: 16px;
    font-weight: var(--fwsemibold);
    border-radius: 50px;
    border: 0;
}

.btn-primary:hover{
    background: var(--black);
    color: var(--white);
}

.btn-secondary{
    padding: 12px 20px 12px 20px;
    background: var(--grey);
    color: var(--black);
    font-size: 16px;
    font-weight: var(--fwmedium);
    border-radius: 50px;
    border: 0;
}

.btn-secondary:hover{
    background: var(--black);
    color: var(--white) !important;
}

.navbar-nav .nav-item a:hover{
    color: var(--blue);
    transition: all 0.3s ease;
    font-weight: var(--fwsemibold);
}

.navbar-nav .nav-item a{
    color: var(--black);
    transition: all 0.3s ease;   
}

.navbar-nav .nav-item {
    padding-right: 25px;
    padding-left: 25px;
    font-weight: var(--fwreguler);   
}

.navbar-brand{
    font-weight: var(--fwbold);
    font-size: 20px;
    color: var(--black);
}

.navbar{
    --bs-navbar-padding-y: 0rem;
}

.custom-navbar{
    padding: 30px;
    background: var(--white);
    border-bottom-left-radius: 26px;
    border-bottom-right-radius:26px ;
}


.badge{
    background: var(--purplesoft);
    border-radius: 50px;
    padding: 16px 8px 16px 8px;
}

/* .copywriting h1{
    font-weight: var(--fwextrabold);
    font-size: 48px;
    color: var(--black);
    padding-top: 20px;
    padding-bottom: 10px;
    line-height: 123%;
} */

 p.primary-copy{
    font-weight: var(--fwreguler);
    font-size: 16px;
    color: var(--darkgrey);
    /* padding-bottom: 30px; */
    line-height: 28px;
}

.badge p{
    color: var(--black);
    font-weight: var(--fwsemibold);
    font-size: 14px; 
}

.mt-70{
    margin-top: 70px;
}

.mr-10{
    margin-right: 10px;
}

.mr-30{
    margin-right: 30px;
}

.mb-10{
    margin-bottom: 10px;
}

.mb-16{
    margin-bottom: 16px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-30{
    margin-bottom: 30px;
}

.card-brand{
    width: 227px;
    height: 110px;
    border-radius: 16px;
    background-color: var(--darkgrey2);
    text-align: center;
}

.card-brand .logo{
    height: 50px;
    margin-top: 30px;
}

.carousel-wrapper{
    display: flex;
    height: 110px;
    animation: moveSlidesToLeft 25s linear infinite ;
}

.carousel{
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    height: 110px;
    overflow: hidden;
}

@keyframes moveSlidesToLeft{
    0% {
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}
@keyframes moveSlidesToRight{
    0% {
        transform: translateX(0%);
    }
    to{
        transform: translateX(100%);
    }
}

.carousel-wrapper-left{
    display: flex;
    height: 110px;
    animation: moveSlidesToRight 25s linear infinite ;
}

.carousel-left{
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    height: 110px;
    overflow: hidden;
}